* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.protest-guerrilla-regular {/*header font*/
  font-family: "Protest Guerrilla", sans-serif;
  font-weight: 400;
  font-style:normal;
}

.josefin-sans-par {/*normal text font*/
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #e9e9e9;
  color: #111;
}

.container {
  background-color: white;
  max-width: 900px;
  margin: 2rem auto;
  padding: 2rem;
}

.site-header {
  text-align: center;
  padding: 1rem 0;
  background-color: #e9e9e9;
}

.logo {
  align-items:center;
}

.nav-links {
  display: flex;
  justify-content: center;
  gap:10rem;
}

.nav-links a {
  text-decoration: none;
  color: #111;
  font-size: 0.9rem;
}

.nav-links a:hover {
  text-decoration: underline;
}

.article h1 {
  font-size: 6.5rem;
}

/*adjusting spacing for extra readbility*/
.article p {
  margin: 1.2rem;
  line-height: 1.6;
  font-size:1rem;
}

.content-section h2 {
  font-size: 3rem;
  margin: 1rem 0 0.5rem;
}

.albums {
  width:100%;
  height:auto;
  margin:0;
  padding:0;
}

.albums img{
  display:block;
}

.author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  padding-top: 1.5rem;
  border-top: 1px solid #ccc;
}

.author-info {
  flex: 3;
}

.author-info p {
  font-size:1rem;
}

.author-profile {
  flex: 1;
  text-align: right;
}

.author-profile img {
  border-radius: 50%;
  width:200px;
}

.footer {
  text-align: center;
  font-size: 0.8rem;
  color: #ffffff;
  background-color:#14181d;
  max-width: 900px;
  margin: 2rem auto;
  padding: 2rem;
}

/*small mobile*/
@media (max-width:539px){
    body{
        margin:12px;
        padding:12px;
        gap:12px;
    }
    .logo{
        width:80px;
        height:auto;
    }
    /*putting everything in one column*/
    #flexAlbum{
      display:flex;
      flex-direction:column;
      transition: all 0.2s ease;
      align-items:center;
    }

    .album-grid {
      display: grid;
      grid-template-columns: 200px;
      transition: all 0.2s ease;
    }

    .featured-album img{
      width:200px;
      height:auto;
    }

    .album-grid img{
      width:200px;
      height:auto;
    }

    /*The wireframe says the author picture is above, therefore I used column-reverse*/
    .author{
      flex-direction:column-reverse;/*if it was column, the author picture would be below the text*/
      padding:20px;
    }
}

/*large mobile*/
@media (min-width:540px) and (max-width:719px){
    body{
        margin:20px;
        padding:20px;
        gap:20px;
    }

    .logo{
        width:80px;
        height:auto;
    }

    #flexAlbum{
      display:flex;
      flex-direction:column;
      transition: all 0.2s ease;
      align-items:center;
    }

    .album-grid {
      display: grid;
      grid-template-columns: 200px;
      transition: all 0.2s ease;
    }

    .featured-album img{
      width:200px;
      height:auto;
    }

    .album-grid img{
      width:200px;
      height:auto;
    }

    .author{
      flex-direction:column-reverse;
      padding:20px;
    }
}

/*tablet*/
@media (min-width:720px) and (max-width:1023px) {
    body{
        margin:30px;
        padding:30px;
        gap:30px;
    }

    #pOne{
        transition: all 0.2s ease;
    }

    .logo{
        width:80px;
        height:auto;
    }

    .Pars {
      display: flex;
      flex-direction: column;
      padding:1rem;
      transition: all 0.2s ease;
    }

    /*aligning the bigger picture above the grid of four smaller pictures*/
    #flexAlbum{
      display:flex;
      flex-direction:column;
      align-items:center;
    }

    /*the four small images are aligned in two grid columns*/
    .album-grid {
      display: grid;
      grid-template-columns: 200px 200px;
    }

    .featured-album img{
      width:400px;
      height:auto;
    }

    .album-grid img{
      width:200px;
      height:auto;
    }
}

@media (min-width:1024px) {
    body{
        margin:50px;
        padding:50px;
        gap:50px;
    }
    /*the font size will adjust in a transition, not instantly*/
    #pOne {
        font-size:1.5rem;
        transition: all 0.2s ease;
    }

    .logo{
        width:200px;
        height:auto;
    }

    .Pars {
      display: flex;
      flex-direction: row;
      padding:1rem;
    }

    /*the big image and small images are aligned in a row*/
    #flexAlbum{
      display:flex;
      flex-direction:row;
    }

    .album-grid {
      display: grid;
      grid-template-columns: 200px 200px;
    }

    .featured-album img{
      width:400px;
      height:auto;
    }

    .album-grid img{
      width:200px;
      height:auto;
    }
}